<div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
    <%= paginate list, remote: remote %>

    <div class="fw-normal small mt-4 mt-lg-0">
        <%= page_entries_info list %>
    </div>
</div>
