<nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-lg-none">
    <%= link_to path, class: "navbar-brand me-lg-5" do -%>
         <%= image_pack_tag "brand/light.svg", class: "navbar-brand-dark", alt: "Image" %> <%= image_pack_tag "brand/dark.svg", class: "navbar-brand-light", alt: "Image" %>
    <% end %>

    <div class="d-flex align-items-center">
        <button class="navbar-toggler d-lg-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
