<a href="#" class="text-center text-primary fw-bold border-bottom border-light py-3">Notifications</a>

<a href="#" class="list-group-item list-group-item-action border-bottom">
    <div class="row align-items-center">
        <!-- div class="col-auto">
            <img alt="Image placeholder" src="@@path/assets/img/team/profile-picture-1.jpg" class="avatar-md rounded">
        </div -->
        <div class="col ps-0 ms-2">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h4 class="h6 mb-0 text-small">Jose Leos</h4>
                </div>
                <div class="text-end">
                    <small class="text-danger">a few moments ago</small>
                </div>
            </div>
            <p class="font-small mt-1 mb-0">Added you to an event "Project stand-up" tomorrow at 12:30 AM.</p>
        </div>
    </div>
</a>

<a href="#" class="list-group-item list-group-item-action border-bottom">
    <div class="row align-items-center">
        <!-- div class="col-auto">
            <img alt="Image placeholder" src="@@path/assets/img/team/profile-picture-2.jpg" class="avatar-md rounded">
        </div -->
        <div class="col ps-0 ms-2">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h4 class="h6 mb-0 text-small">Neil Sims</h4>
                </div>
                <div class="text-end">
                    <small class="text-danger">2 hrs ago</small>
                </div>
            </div>
            <p class="font-small mt-1 mb-0">You've been assigned a task for "Awesome new project".</p>
        </div>
    </div>
</a>

<a href="#" class="dropdown-item text-center fw-bold rounded-bottom py-3">
    <i class="fas fa-binoculars text-gray-400 me-1"></i>
    Visualizar todos
</a>
