<nav class="navbar navbar-top navbar-expand navbar-dashboard navbar-dark ps-0 pe-2 pb-0">
    <div class="container-fluid px-0">
        <div class="d-flex justify-content-end w-100" id="navbarSupportedContent">
            <%= render partial: "layouts/shared/navbar", locals: {user_logged: user_logged, logout_path: logout_path} %>
        </div>
    </div>
</nav>
