<%- if controller_name != 'sessions' %>
  <div class="d-flex justify-content-center align-items-center mt-4">
    <span class="fw-normal">
      <%= link_to "Sign in", new_session_path(resource_name), class: "fw-bold" %>
    </span>
  </div>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="d-flex justify-content-center align-items-center mt-4">
    <span class="fw-normal">
      Não cadastrado?
      <%= link_to "Cadastre-se", new_user_registration_path, class: "fw-bold" %>
    </span>
  </div>
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <div class="d-flex justify-content-center align-items-center mt-4">
    <span class="fw-normal text-center">
      Não recebeu as instruções de confirmação? 
      <%= link_to "Clique aqui", new_user_confirmation_path(resource_name), class: "fw-bold" %>
    </div>
  </div>
<% end %>
