<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div>
        <h2 class="h4">Cadastrar Usuário</h2>
    </div>
</div>

<%= render 'form', {user: @user, url: sas_animes_users_url, method: :post} %>
