<ul class="nav flex-column pt-3 pt-md-0">
    <li class="nav-item">
        <div class="d-flex align-items-center">
            <span class="sidebar-icon">
                <%= image_pack_tag "brand/light.svg", height: 20, width: 20, alt: "PrimeAnimes" %>
            </span>
            <span class="mt-1 ms-1 sidebar-text">PrimeAnimes</span>
        <div>
    </li>
</ul>